*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body,html {
    font-family: Arial, sans-serif;
    }
.navbar{
    background-color: #002d5c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;/* keeps it above other elements */
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #002b5b;
  list-style: none;
  padding: 10px 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar li {
  position: relative;
}
.logo {
    height: 40px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.app-button{
    background-color: #32c2df;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}